.home-main-container{
    display: grid;
    grid-template-columns:3fr 1fr;
}

.image-container img{
    object-fit: cover;


}

@media  (max-width:768px)  {
    .home-main-container{
        display: flex;
        flex-direction: column;
    }
}

@media  (min-width:769px) and (max-width:992px)  {
    .home-main-container{
        display: grid;
        grid-template-columns:2fr 1fr;
    }
}


